* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('BSE1.jpg'); /* Keeping the same background */
    background-size: cover;
    filter: brightness(60%);
    z-index: 1;
}

.title {

    position: relative;
    z-index: 2;
    color: white;
    text-align: center;

}

.title h1 {
    
    text-align: center;
    padding-top: 110px;
    width: 400px;
    border-bottom: 3px solid #ffffff;
    margin: auto;
}


.title h2{
    margin: 25px;
}


form {
    margin-top: 20px;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 3px solid whitesmoke;
    background:transparent;
    color: white;
    width: 45%;
    text-align: center;
}

form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid white;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

#signOutButton {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    background-color:#fc4848a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signOutButton:hover {
    background-color: darkred;
}

.sharesOutstanding{
    margin: 2px 20px;
    font-size: 25px;

}
.sharesOutstanding input{
    margin: 2px 0px;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;

}
.peRatio{
    margin: 2px 20px;
    font-size: 25px;
}
.peRatio input{
    margin: 2px 0px;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;

}
.stockPriceOutput{
    padding: 10px 10px;
    font-size:20px;
    margin: 10px ;
}
.stockPriceOutput h3{
    padding: 3px 10px;
    font-size:20px;
    margin: 10px;
}
.stockPriceOutput button{
    padding: 8px 15px;
    font: 12px bold;
}